:root {
    --primary-bg-color: #f4f4f4;
    --secondary-bg-color: #fff;
    --text-color: #333;
    --button-bg-color: #5cb85c;
    --button-hover-bg-color: #4cae4c; /* Added */
    --button-text-color: white;
    --border-color: #ddd;
    --item-bg-color: #eee;
    --item-completed-bg-color: #e0e0e0;
    --item-completed-text-color: #aaa;
    --button-danger-bg-color: #d9534f;
    --button-danger-hover-bg-color: #c9302c;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

input[type="text"] {
    width: calc(100% - 88px); /* Adjust width to accommodate button */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--secondary-bg-color); /* Added for dark mode */
    color: var(--text-color); /* Added for dark mode */
}

button {
    padding: 10px 15px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px; /* Add some space next to the input */
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0; /* Add margin to the bottom */
}

li {
    padding: 10px;
    background-color: var(--item-bg-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color); /* Added for dark mode */
}

li:last-child {
    border-bottom: none;
}

li.completed {
    text-decoration: line-through;
    color: var(--item-completed-text-color);
    background-color: var(--item-completed-bg-color);
}

#deleteButton, #clearButton {
    background-color: var(--button-danger-bg-color);
    margin-top: 10px; /* Add margin above these buttons */
}

#deleteButton:hover, #clearButton:hover {
    background-color: var(--button-danger-hover-bg-color);
}
